# Auto detect text files and perform LF normalization
* text=auto

# Exclude files from archive

/.github/* export-ignore
/.vscode/* export-ignore
.gitattributes export-ignore
.prettierignore export-ignore
.prettierrc.json export-ignore
yarn.lock export-ignore
